html {
box-sizing: border-box; 
}
*,
*::before,
*::after {
   box-sizing: inherit; 
}

:root {
    --main-color: #2E2F42;
    --secondary-color: #434455;
    --first-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-general-color: #FFFFFF;
    --logo-iteam-decor: #4D5AE5;
    --header-button: #404BBF;
    --white-secondary-color: #F4F4FD;
    --section-team-color: #F4F4FD;
    --footer-color: #E7E9FC;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}

.img {
    display: block;
}

body {
    color: var(--main-color);
    background-color: var(--white-general-color);
    font-family: var(--first-font);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    height: 72px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    
    
}

.container-header {
    display: flex;
    align-items: center;
} 

.main-section {
   margin: 0 auto; 
   text-align: center;
}

 .logo-link {
    margin-right: 76px;
    
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    
}

.logo {
    color: var(--logo-iteam-decor);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}


.footer-logo-span {
    color: var(--white-secondary-color);
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
        
.navigation-link {
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
    color: var(--header-button);
}

.navigation-list .navigation-link:active {
    text-decoration: underline;
    color: var(--header-button);
}

.navigation-list {
    display: flex;
}

.navigation-item:not(:last-child) {
    margin-right: 40px;
}



.adress-link {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-item + .adress-item {
    margin-left: 40px;
}


.adress-list .adress-link:hover,
.adress-list .adress-link:focus {
    color: var(--header-button);
}

.adress-list {
    display: flex;
   
}

.main-title {
    margin-bottom: 56px;
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-general-color);
    
    
}

.main-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--main-color);
}


.main-button {
    font-family: inherit;
    color: var(--white-general-color);
    background-color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-size: 16px;
}

.main-button:hover,
.main-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
}

.adress {
    font-style: normal;
    margin-left: auto;
    
}

.hero-button {
    font-family: inherit;
    color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--footer-color);
    padding: 12px 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
    
}

.hero-button:active {
    color: var(--main-color);
}

.hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.hero-text {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    margin-left: 156px;
    margin-right: 156px; 
}

.container-team {
background: var(--section-team-color);
}

.footer-about {
  
  height: 110px;
  padding-top: 100px; 
  padding-left: 156px;
 
}

.footer-container {
    width: 1440px;
    height: 310px;
    background-color: var(--main-color);
}

.footer-logo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color);
}

.future-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    
}

.future-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.future-list {
display: flex;
flex-wrap: wrap;
margin-top: 120px;
width: 1128px;
margin-left: auto;
margin-right: auto;

}

.future-item {
width: 264px;
margin-right: 24px;
}

.future-item:nth-child(4) {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.apps-subtitle {
    padding-bottom: 72px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.apps-section {
    margin-top: 120px;
    margin-left: 156px;
    margin-right: 156px;
}

.image-item-apps {
   margin-right: 24px; 
}
.image-item-apps:nth-child(3) {
    margin-right: 0;
}

.image-apps {
    display: flex;
    margin-bottom: 120px;
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 24px;
background-color: var(--white-general-color);
margin-bottom: 120px;
}

.team-item:nth-child(4) {
    margin-right: 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.text-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-bottom: 8px;
}

.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.text-team {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.team-list {
    margin-top: 120px;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color);
    padding-top: 16px;
}



.main-nav {
    display: flex;
    
}

